<nav>
   <div class="nav-wrapper">
       <a routerLink="" class="brand-logo right">Logo</a>
       <div id="nav-mobile" class="left hide-on-med-and-down">
           <div routerLinkActive="nav-active" class="navtab-item">
               <a routerLink="">Home</a>
            </div>
           <div *ngIf="!mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
               <a routerLink="/login">Login</a>
            </div>
           <div *ngIf="mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
               <a routerLink="/exercicios">Exercicios</a>
            </div>
            <div *ngIf="mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
                <a [routerLink]="['exercicios', 'switch-page']">Switch Page</a>
             </div>
             <div *ngIf="mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
               <a [routerLink]="['/alunos']">Alunos</a>
            </div>
            <div *ngIf="mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
               <a routerLink="/forms">Forms</a>
            </div>
            <div *ngIf="mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
               <a routerLink="/contatos">Contatos</a>
            </div>
            <div *ngIf="mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
               <a routerLink="/upload">Upload Arquivo</a>
            </div>
            <div *ngIf="mostrarMenu" routerLinkActive="nav-active" class="navtab-item">
               <a routerLink="/busca-reativa">Pesquisa Reativa</a>
            </div>
       </div>
   </div>
</nav>
<div class="container">
   <!-- <p>Entre com o id da pagina</p>
   <input #idPage> -->
   <router-outlet></router-outlet>
</div>


